
.whatWeDo .btn-default{
  border:1px  solid #F97300;
  color: #F97300;

}

.studio-portfolio{
  padding-top: 150px;
}


.studio-portfolio h3{
  font-size: 20px;
  color:#F97300;
}


.studio-portfolio .see_more p{
  font-size: 15px;
  color:#F97300;
  padding:0px;
  margin:0px;
}
.btn-default{
  border:1px  solid #F97300;
  color: #F97300;
  background-color: #fff;

}


.button p{
  font-size: 15px;
  color: #F97300;;
}


.one,.two,.three{
  padding:10px;

}

h2{
  font-weight: 540;
  color:#F97300;

}

  p{
   font-weight: 500;
   font-size: 18px;
   color: rgb(153,153,153);
 }

 h1{
   font-size: 60px;
   color:#FFFAFA;
   font-weight: 600;
 }
      /*this is for extra small devices---xs---<576px*/
      @media only screen
      and (min-device-width: 300px)

       {

        html,
        body{
          font-size:14px;
        }
        	.tds-banner {
            position: absolute;
            min-height: 100%;
      	  	min-width: 100%;

      			background-image:url('/static/talking_drumstudios_logo.png');
      			background-attachment: fixed;
      			background-size: 300% 100%;
      			background-position: center;
      			background-repeat: no-repeat;
            border-color: 3px  #fff;

            width: auto ;
            max-width: 100% ;
            height: auto ;

}
.tds-banner {
background-color: rgba(249, 168, 6, 0.4);
padding: 0;
margin:0;
size:30%;
margin-bottom: 100px;
}


.description h1{
padding-top: 150px;
padding-left: 80px;

}



.description h5{
padding-top:10px;
padding-left: 80px;
color:black;
font-weight: 400;
}


.button{
  padding-left: 80px;
  padding-top:10px;

}
.description .btn{
border:1px  solid #fff;
background: #fff;
color:#F97300;
size:10px;
padding:7px;
width: 100%;
height: 45px;
}






}



.navbar-default {
  background-color:none !important;
  background-image: none;
  background-repeat: no-repeat;
  font-size: 50px;
 }

 .navbar-brand{
   font-size: 15px;
   font-weight: 600;

 }

 .navbar-text .btn-primary{
   border:1px  solid rgba(249, 168, 6, 0.4);
   background: #f9a806;
   font-size: 10px;

 }
.body, .navbar-brand, .navbar-text  .description{
@import url('https://fonts.googleapis.com/css?family=Lexend+Tera&display=swap');
font-family: 'Lexend Tera', sans-serif;

}


.desktop-view{
  display: none;
}

.mobile-view{
display: inline;
}



/*what we do*/
.whatWeDo{
padding-top: 190%;
margin-top: 10px;
top:50%;
background-color: #fff;



}


.whatWeDo h1{
  font-weight: 550;
  color:#F97300;
  font-size: 40px;
  margin:10px;

}

.whatWeDo h2{
  font-weight: 540;
}
.whatWeDo .gamax-row{
  padding-top: 3%;
  margin: 10px;
}

.whatWeDo p{
  font-weight: 500;
  font-size: 18px;
  color: rgb(153,153,153);
}

.whatWeDo .studio-row{
  padding-top: 50px;
}
.whatWeDo .image-gamax{
  top:30px;

}

.gamax-portfolio{
  margin-top: 120px;
}

.gamax-portfolio h3{
  font-size: 20px;
  color:#F97300;
}


.gamax-portfolio .see_more p{
  font-size: 15px;
  color:#F97300;
  padding:0px;
  margin:0px;
}

.contact-form{
  margin:20px;
  padding-top:80px;
}
.contact-form h1{
  font-weight: 400;
  color:#F97300;
  size:20px;
}




@media only screen
and (min-device-width: 400px)
and (max-device-width: 900px){


  /*what we do*/
  .whatWeDo{
  padding-top: 210%;
  margin-top: 10px;
  top:50%;
  background-color: #fff;



  }
}




@media only screen
and (min-device-width: 360px)
and (max-device-width: 640px){

    /*what we do*/
    .whatWeDo{
    padding-top: 190%;
    margin-top: 10px;
    top:50%;
    background-color: #fff;



    }
}

@media only screen
and (min-device-width: 360px)
and (max-device-width: 740px){

    /*what we do*/
    .whatWeDo{
    padding-top: 210%;
    margin-top: 10px;
    top:50%;
    background-color: #fff;



    }
}


@media only screen
and (min-device-width: 414px)
and (max-device-width: 846px){



  /*what we do*/
  .whatWeDo{
  padding-top: 190%;
  margin-top: 10px;
  top:50%;
  background-color: #fff;



  }


  .whatWeDo h1{
    font-weight: 550;
    color:#F97300;
    font-size: 40px;
    margin:10px;

  }

  .whatWeDo h2{
    font-weight: 540;
  }
  .whatWeDo .gamax-row{
    padding-top: 3%;
    margin: 10px;
  }

  .whatWeDo p{
    font-weight: 500;
    font-size: 18px;
    color: rgb(153,153,153);
  }

    }
}






@media only screen
and (min-device-width: 384px)
and (max-device-width: 670px){

    /*what we do*/
    .whatWeDo{
    padding-top: 180%;
    margin-top: 10px;
    top:50%;
    background-color: #fff;



    }
}



@media only screen
and (min-device-width: 411px)
and (max-device-width: 823px){


      /*what we do*/
      .whatWeDo{
      padding-top: 200%;
      margin-top: 10px;
      top:50%;
      background-color: #fff;



      }
  }


/*tablets and ipads*/


  @media only screen
  and (min-device-width: 600px)
{

    .tds-banner {
      position: absolute;
      min-height: 100%;
      min-width: 100%;

      background-image:url('/static/talking_drumstudios_logo.png');
      background-attachment: fixed;
      background-size: 200% 100%;
      background-position: center;
      background-repeat: no-repeat;
      border-color: 3px  #fff;

      width: auto ;
      max-width: 100% ;
      height: auto ;

}
.tds-banner {
background-color: rgba(249, 168, 6, 0.4);
padding: 0;
margin:0;
size:30%;
margin-bottom: 100px;
}


.description h1{
padding-top: 350px;
padding-left: 80px;

}



.description h5{
padding-top:10px;
padding-left: 250px;
color:black;
font-weight: 660;
size:700%;
}


.button{
  padding-left: 200px;
  padding-top:10px;
}
        /*what we do*/
  .whatWeDo{
  padding-top: 140%;
  margin-top: 10px;
  top:50%;
background-color: #fff;
        }


        .navbar-default {
          background-color:none !important;
          background-image: none;
          background-repeat: no-repeat;
          font-size: 20px;
         }
         .navbar-brand{
           font-size: 25px;
           font-weight: 600;

         }

         .navbar-text .btn-primary{
           border:1px  solid rgba(249, 168, 6, 0.4);
           background: #f9a806;
           font-size: 10px;

         }

    }



      @media only screen
      and (min-device-width: 600px)
      and (max-device-width: 960px)
    {


      .hover-zoomin{
        width:250px;
      }
      .whatWeDo{
        padding-top: 160%;
      }



                    .tds-banner {
                      position: absolute;
                      min-height: 100%;
                      min-width: 100%;

                      background-image:url('/static/talking_drumstudios_logo.png');
                      background-attachment: fixed;
                      background-size: 300% 100%;
                      background-position: center;
                      background-repeat: no-repeat;
                      border-color: 3px  #fff;

                      width: auto ;
                      max-width: 100% ;
                      height: auto ;

                }


                      .description h1{
                      padding-top: 250px;
                      padding-left: 60px;
                      font-size: 50px;
                      font-weight: 700;

                      }

                      .description h5{
                      padding-top:10px;
                      padding-left: 130px;
                      color:black;
                      font-size:20px;
                      }


                      .button{
                        padding-left: 200px;
                        padding-top:25px;
                      }
    }


    @media only screen
    and (min-device-width: 800px)
    and (max-device-width: 999px)

  {


              .tds-banner {
                position: absolute;
                min-height: 100%;
                min-width: 100%;

                background-image:url('/static/talking_drumstudios_logo.png');
                background-attachment: fixed;
                background-size: 300% 200%;
                background-position: center;
                background-repeat: no-repeat;
                border-color: 3px  #fff;

                width: auto ;
                max-width: 100% ;
                height: auto ;

          }


                .description h1{
                padding-top: 450px;
                padding-left: 60px;
                font-size: 70px;

                }

                .description h5{
                padding-top:10px;
                padding-left: 130px;
                color:black;
                font-weight: 560;
                font-size: 250%;
                }


                .button{
                  padding-left: 250px;
                  padding-top:25px;
                }
                .whatWeDo{
                  padding-top:160%;
                }
                .whatWeDo h1{
                  font-weight: 550;
                  color:#F97300;
                  font-size: 60px;
                  margin:10px;

                }

                .whatWeDo h2{
                  font-weight: 540;
                  font-size: 38px;

                }

                .whatWeDo p{
                  font-weight: 500;
                  font-size: 20px;
                  color: rgb(153,153,153);
                }


                      .gamax-portfolio h2{
                        font-weight: 540;
                        font-size: 38px;

                      }

                      .gamax-portfolio  p{
                        font-weight: 500;
                        font-size: 28px;
                        color: rgb(153,153,153);
                      }

                      .quote p{
                        font-size: 28px;
                      }

                      .footer h5{
                        font-size: 30px;

                      }
                      .footer li{
                        font-size: 20px;

                      }




                      .gamax-portfolio h3{
                        font-size: 28px;
                        color:#F97300;
                      }


                      .gamax-portfolio .see_more p{
                        font-size: 15px;
                        color:#F97300;
                        padding:0px;
                        margin:0px;
                      }

}

/*crazy ass big tab screens like the ipad pro*/

      @media only screen
      and (min-device-width: 1000px)
    {

          .tds-banner {
            position: absolute;
            min-height: 100%;
            min-width: 100%;

            background-image:url('/static/talking_drumstudios_logo.png');
            background-attachment: fixed;
            background-size: 200% 100%;
            background-position: center;
            background-repeat: no-repeat;
            border-color: 3px  #fff;

            width: auto ;
            max-width: 100% ;
            height: auto ;

      }



      .tds-banner {
      background-color: rgba(249, 168, 6, 0.4);
      padding: 0;
      margin:0;
      size:30%;
      margin-bottom: 100px;
      }


      .description h1{
      padding-top: 550px;
      padding-left: 160px;
      font-size: 80px;

      }



      .description h5{
      padding-top:10px;
      padding-left: 250px;
      color:black;
      font-weight: 560;
      font-size: 250%;
      }


      .button{
        padding-left: 350px;
        padding-top:10px;
      }


      .whatWeDo h1{
        font-weight: 550;
        color:#F97300;
        font-size: 60px;
        margin:10px;

      }

      .whatWeDo h2{
        font-weight: 540;
        font-size: 38px;

      }

      .whatWeDo p{
        font-weight: 500;
        font-size: 28px;
        color: rgb(153,153,153);
      }

      .gamax-portfolio h2{
        font-weight: 540;
        font-size: 38px;

      }

      .gamax-portfolio  p{
        font-weight: 500;
        font-size: 28px;
        color: rgb(153,153,153);
      }

      .quote p{
        font-size: 28px;
      }

      .footer h5{
        font-size: 30px;

      }
      .footer li{
        font-size: 20px;

      }




      .gamax-portfolio h3{
        font-size: 28px;
        color:#F97300;
      }


      .gamax-portfolio .see_more p{
        font-size: 15px;
        color:#F97300;
        padding:0px;
        margin:0px;
      }



    }









          @media only screen
          and (min-device-width: 768px)
          and (max-device-width: 1024px)
        {


              .tds-banner {
                position: absolute;
                min-height: 100%;
                min-width: 100%;

                background-image:url('/static/talking_drumstudios_logo.png');
                background-attachment: fixed;
                background-size: 200% 100%;
                background-position: center;
                background-repeat: no-repeat;
                border-color: 3px  #fff;

                width: auto ;
                max-width: 100% ;
                height: auto ;

          }



          .tds-banner {
          background-color: rgba(249, 168, 6, 0.4);
          padding: 0;
          margin:0;
          size:30%;
          margin-bottom: 100px;
          }


          .description h1{
          padding-top: 300px;
          font-size: 65px;

          }



          .description h5{
          padding-top:10px;
          padding-left: 150px;
          color:black;
          font-weight: 560;
          font-size: 250%;
          }


          .button{
            padding-left: 300px;
            padding-top:10px;
          }


          .whatWeDo h1{
            font-weight: 550;
            color:#F97300;
            font-size: 60px;
            margin:10px;

          }

          .whatWeDo h2{
            font-weight: 540;
            font-size: 38px;

          }

          .whatWeDo p{
            font-weight: 500;
            font-size: 28px;
            color: rgb(153,153,153);
          }

          .gamax-portfolio h2{
            font-weight: 540;
            font-size: 38px;

          }

          .gamax-portfolio  p{
            font-weight: 500;
            font-size: 28px;
            color: rgb(153,153,153);
          }

          .quote p{
            font-size: 28px;
          }

          .footer h5{
            font-size: 30px;

          }
          .footer li{
            font-size: 20px;

          }




          .gamax-portfolio h3{
            font-size: 28px;
            color:#F97300;
          }


          .gamax-portfolio .see_more p{
            font-size: 15px;
            color:#F97300;
            padding:0px;
            margin:0px;
          }



        }




              @media only screen
              and (min-device-width: 800px)
              and (max-device-width: 1300px)
              {

              .tds-banner {
              position: absolute;
              min-height: 100%;
              min-width: 100%;
              background-image:url('/static/talking_drumstudios_logo.png');
              background-attachment: fixed;
              background-size: 250% 100%;
              background-position: center;
             background-repeat: no-repeat;
              border-color: 3px  #fff;
                width: auto ;
                max-width: 100% ;
                height: auto ;

                }


                .description h1{
                padding-top: 400px;
                font-size: 65px;
                padding-left: 80px;


                }

                .description h5{
                padding-top:10px;
                padding-left: 150px;
                color:black;
                font-weight: 560;
                font-size: 250%;
                }


                .button{
                  padding-left: 300px;
                  padding-top:30px;
                }


                        }
