
<!-- Footer-->
<div class="py-5 bg-light">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 mb-4 mb-lg-0">
				<h5>Talking Drum Studios</h5>
				<ul class="contact-info list-unstyled">
					<li><a href="mailto:sales@landy.com" class="text-dark">contact@talkingdrumstudios.com</a></li>
					<li><a href="tel:123456789" class="text-dark">+234 123 456 789</a></li>
				</ul>
				<p class="text-muted">Covenant University, sango-ota, Ogun-State, Nigeria</p>
			</div>


		</div>
	</div>
</div>
<div class="py-3 bg-dark text-white">
	<div class="container">
		<div class="row">
			<div class="col-md-7 text-center text-md-left">
				<p class="mb-md-0">&copy; 2019 Talking Drum Studios. All rights reserved. </p>
			</div>
			<div class="col-md-5 text-center text-md-right">
				<p class="mb-0">Template By <a href="https://bootstrapious.com/" class="external text-white">Bootstrapious</a> </p>
			</div>
		</div>
	</div>
</div>
