
	 <!-- Portfolio-->
	 <section class="gamax-portfolio-page">

	    <div class="container-fluid">
				<div class="port">

	      <a href="#"> <h2>GAMAX PORTFOLIO</h2></a>
	      <p>Screenshots from WordyBalls</p>
				<div class="mobile-view">

	<div class="gamax-portfolio-background">

			      <div class="row d-flex flex-nowrap  one">
								<div class="col-lg-5 col-md-6 col-sm-4 col-6 one-1  ">
						    <div class="hover-zoomin">
						    <img src="static\GAMAX_homepage_0.1-01.jpg" class="card-img-top"alt="" />
								</div>
								</div>

									<div class="col-lg-5 col-md-6 col-sm-4 col-6 two-2">
								  <div class="hover-zoomin">
								  <img src="static\GAMAX_homepage_0.1-02.jpg" class="card-img-top"alt=""/>
									</div>
								  </div>
								</div>

		<div class="row two">

									<div class=" col-lg-5 col-md-6 col-sm-4 col-6 three-3">
									<div class="hover-zoomin">
									<img src="static\GAMAX_homepage_0.1-03.jpg" class="card-img-top"alt=""/>
									</div>
									</div>

									<div class="col-lg-5 col-md-6 col-sm-4 col-6 four-4">
									<div class="hover-zoomin">
									<img src="static\GAMAX_homepage_0.1-04.jpg" class="card-img-top"alt=""/>
								</div>
								</div>
							</div>


							<div class="row three">

								<div class="col-lg-5 col-md-6 col-sm-4 col-6 five-5 ">
								<div class="hover-zoomin">
								<img src="static\GAMAX_homepage_0.1-04.jpg" class="card-img-top"alt=""/>
							</div>
							</div>

							<div class="col-lg-5 col-md-6 col-sm-4 col-6 six-6">
							<div class="hover-zoomin">
							<img src="static\GAMAX_homepage_0.1-04.jpg" class="card-img-top"alt=""/>
						</div>
						</div>
						</div>

		</div>


				</div>

	<div class="desktop-view">

	          <div class="row d-flex flex-nowrap  one">
	              <div class="col-lg-4 col-md-6 col-sm-4 col-6 one-1  ">
	              <div class="hover-zoomin">
	              <img src="static\GAMAX_homepage_0.1-01.jpg" class="card-img-top"alt="" />
	              </div>
	              </div>

	                <div class="col-lg-4 col-md-6 col-sm-4 col-6 two-2">
	                <div class="hover-zoomin">
	                <img src="static\GAMAX_homepage_0.1-02.jpg" class="card-img-top"alt="" />
	                </div>
	                </div>


	                  <div class="col-lg-4 col-md-6 col-sm-4 col-6 one-1  ">
	                  <div class="hover-zoomin">
	                  <img src="static\GAMAX_homepage_0.1-03.jpg" class="card-img-top"alt="" />
	                  </div>
	                  </div>
	</div>


	<div class="row d-flex flex-nowrap  one">
	    <div class="col-lg-4 col-md-6 col-sm-4 col-6 one-1  ">
	    <div class="hover-zoomin">
	    <img src="static\GAMAX_homepage_0.1-04.jpg" class="card-img-top"alt="" />
	    </div>
	    </div>

	      <div class="col-lg-4 col-md-6 col-sm-4 col-6 two-2">
	      <div class="hover-zoomin">
					<img src="static\GAMAX_homepage_0.1-01.jpg" class="card-img-top"alt="" />
	      </div>
	      </div>


	        <div class="col-lg-4 col-md-6 col-sm-4 col-6 one-1  ">
	        <div class="hover-zoomin">
						<img src="static\GAMAX_homepage_0.1-02.jpg" class="card-img-top"alt="" />
	        </div>
	        </div>
	</div>



</div>
</div>
</section>
