<div class="gamax-banner">
<div class="container-fluid">
  <div class="description">


  </div>

        <div class="row gamax-after-logo">

              <div class="col-lg-6 gamax-image">
                <img src="static\Gamax.png" alt="white logo"  class="img-fluid  rounded">
            </div>

              <div class="col-lg-3 gamax-head">
                <h1>GAMAX</h1>

              </div>


          </div>

  <div class="row">

    <div class="gif col-lg-12">
      <img src="static\banner-car-merger.jpg" height="100%" width="100%" alt="">
    </div>

      </div>

<div class="row">
  <div class="about_gamax">
    <h2>Ready To play?</h2>
    <h3><li>Lorem ipsum dolor sit amet, consectetur adipisicing elit</li>
    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit</li>
  <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit</li>
<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit</li></h3>

  </div>

</div>


  </div>

</div>
