
<section class="hero-space">
<div class="container ">
<div class="row">

      <div class="hero-description">
          <div class="col-xs-12 col-4">
            <p class="whatWeDo">What we do</p>

          </div>

        </div>


        <div class="container-fluid">
          <div class="row">

                <div class="col-sm-6 ">
                <h1>GAMAX
                <p class="whatWeDo-desc">We make exciting games, you should try them out</p>
                <p><a href="#" class="heroImage btn btn-primary shadow mr-2">Discover More</a></p>
                    </h1>
                                  </div>

                                  <div class="col-sm-6">
                                    <img src="static\white_logo_1.png" alt="white logo" class="img-fluid des">
                                  </div>


            </div>
          </div>




          </section>



<!--
          <div class="col-sm-2">
              <img src="static\white_logo_1.png" alt="white logo" class="img-fluid des"/>
          </div>
-->




<!--

 <div class="container">
   <div class="row">
     <div class="col-lg-6 order-2 order-lg-1">
       <div class="hero-description">
         <h1>What We Do</h1>
        <p class="lead">We make exciting games, you should try them out</p>
        <p><a href="#" class="heroImage btn btn-primary shadow mr-2">Discover More</a></p>
      </div>
       </div>

     <div class="col-lg-6 order-1 order-lg-1"><img src="static\white_logo_1.png" alt="white logo" class="img-fluid des"></div>
   </div>
 </div>
Hero Section-->
