
	 <!-- Portfolio-->



	    <div class="container-fluid">
	      <h2>GAMAX Portfolio</h2>
	      <p class="lead text-muted mb-5">Screenshots from the game</p>


	      <div class="row">


						<div class="col-md-4 mb-4">
					   <div class="container">
				    <div class="hover-zoomin">
				    <img src="static\GAMAX_homepage_0.1-01.jpg" class="card-img-top"alt=""/>
						</div>
						</div>
						</div>

							<div class="col-md-4 mb-4">
						  <div class="container">
						  <div class="hover-zoomin">
						  <img src="static\GAMAX_homepage_0.1-02.jpg" class="card-img-top"alt=""/>
							</div>
							</div>
						  </div>


							<div class="col-md-4 mb-4">
							<div class="container">
							<div class="hover-zoomin">
							<img src="static\GAMAX_homepage_0.1-03.jpg" class="card-img-top"alt=""/>
							</div>
							</div>
							</div>

							<div class="col-md-4 mb-4">
							<div class="container">
							<div class="hover-zoomin">
							<img src="static\GAMAX_homepage_0.1-04.jpg" class="card-img-top"alt=""/>
						</div>
						</div>
						</div>

						<div class="col-md-4 mb-4">
						<div class="container">
						<div class="hover-zoomin">
						<img src="static\GAMAX_homepage_0.1-04.jpg" class="card-img-top"alt=""/>
					</div>
					</div>
					</div>

					<div class="col-md-4 mb-4">
					<div class="container">
					<div class="hover-zoomin">
					<img src="static\GAMAX_homepage_0.1-04.jpg" class="card-img-top"alt=""/>
				</div>
				</div>
				</div>




	          </div>
	        </div>
