
	 <!-- Portfolio-->
	 <section class="gamax-portfolio">

	    <div class="container-fluid">
	      <h2>GAMAX PORTFOLIO</h2>
	      <p class="">Screenshots from the game</p>


	      <div class="row d-flex flex-nowrap  one">
						<div class="col-md-6 col-sm-4 col-6   ">
				    <div class="hover-zoomin">
				    <img src="static\GAMAX_homepage_0.1-01.jpg" class="card-img-top"alt="" />
						</div>
						</div>

							<div class="col-md-6 col-sm-4 col-6 ">
						  <div class="hover-zoomin">
						  <img src="static\GAMAX_homepage_0.1-02.jpg" class="card-img-top"alt=""/>
							</div>
						  </div>
						</div>

<div class="row two">

							<div class="col-md-6 col-sm-4 col-6 ">
							<div class="hover-zoomin">
							<img src="static\GAMAX_homepage_0.1-03.jpg" class="card-img-top"alt=""/>
							</div>
							</div>

							<div class="col-md-6 col-sm-4 col-6 ">
							<div class="hover-zoomin">
							<img src="static\GAMAX_homepage_0.1-04.jpg" class="card-img-top"alt=""/>
						</div>
						</div>
					</div>


					<div class="row three">

						<div class="col-md-6 col-sm-4 col-6 ">
						<div class="hover-zoomin">
						<img src="static\GAMAX_homepage_0.1-04.jpg" class="card-img-top"alt=""/>
					</div>
					</div>

					<div class="col-md-6 col-sm-4 col-6 ">
					<div class="hover-zoomin">
					<img src="static\GAMAX_homepage_0.1-04.jpg" class="card-img-top"alt=""/>
				</div>
				</div>
				</div>




	          </div>
</section>
