
		    <div class="container">
		      <blockquote class="blockquote text-center mb-0">
		        <svg class="lnr text-muted quote-icon pull-left">
		          <use xlink:href="#lnr-heart"> </use>
		        </svg>
		        <p class="mb-0">We are excited about changing the status quo of the Nigerian Gaming Industry and the World at Large</p>
		        <footer class="blockquote-footer">Seun Lawal
		          <cite title="Source Title">2019</cite>
		        </footer>
		      </blockquote>
		    </div>
