<div class="quote">
	<div class="container">
		<blockquote class="blockquote text-center mb-0">
			<svg class="lnr text-muted quote-icon pull-left">
				<use xlink:href="#lnr-heart"> </use>
			</svg>
			<p class="mb-0">"If we don't work on the present, there would be no future to look to"</p>
			<p>
				<p class="blockquote-footer">Lawal Seun
					<cite title="Source Title">2019</cite>
				</p>

		</blockquote>
	</div>

</div>
