<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

    <style media="screen">

 h1{
  background-color: blue;
  padding: 15px;


}

p{
  background-color: red;

}

@media only screen and (min-width: 378px) {
  /* For mobile:*/
  .col-xs-1 {width: 8.33%;}
  .col-xs-2 {width: 16.66%;}
  .col-xs-3 {width: 25%;}
  .col-xs-4 {width: 33.33%;}
  .col-xs-5 {width: 41.66%;}
  .col-xs-6 {width: 50%;}
  .col-xs-7 {width: 58.33%;}
  .col-xs-8 {width: 66.66%;}
  .col-xs-9 {width: 75%;}
  .col-xs-10 {width: 83.33%;}
  .col-xs-11 {width: 91.66%;}
  .col-xs-12 {width: 100%;}
}

@media only screen and (min-width: 600px) {
  /* For tablets:*/
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
  /* For desktop:*/
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

    </style>
  </head>


  <body>
    <div class="row">
      <div class="col-xs-12">
        <h1>Topic</h2>

      </div>

      <div class="row">
        <div class="col-xs-3">
          <p>what is your name?</p>
        </div>
        <div class="col-xs-3">
          <p>where are you from?</p>
        </div>
      </div>


      <div class="col-xs-12">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="aside">
        <div class="col-xs-12">
          <p>are you aware of the differen types?</p>

        </div>
      </div>
    </div>

        <!--
        <div class="col-11 rows-11">
          <p>11 complete rows</p>
        </div>

        <div class="col-10 rows-11">
          <p>10 complete rows</p>
        </div>

        <div class="col-9 rows-11">
          <p>9 complete rows</p>
        </div>

        <div class="col-8 rows-11">
          <p>8 complete rows</p>
        </div>

        <div class="col-7 rows-11">
          <p>7 complete rows</p>
        </div>

        <div class="col-6 rows-11">
          <p>6 complete rows</p>
        </div>

        <div class="col-5 rows-11">
          <p>5 complete rows</p>
        </div>
-->

      </div>
    </div>

  </body>
</html>
