<div class="studio-portfolio">
  <div class="container-fluid">
    <div class="mobile-view">

      <a href="#"> <h2>STUDIO PORTFOLIO</h2></a>
      <p class="">Images from the Studio</p>

              <div class="row d-flex flex-nowrap  one">
                  <div class="col-md-6 col-sm-4 col-6 one-1  ">
                  <div class="hover-zoomin">
                  <img src="static\not so rainy_panel1.jpg" class="card-img-top"alt="" />
                  </div>
                  </div>

                    <div class="col-md-6 col-sm-4 col-6 two-2">
                    <div class="hover-zoomin">
                    <img src="static\not so rainy_panel3.jpg" class="card-img-top"alt="" />
                    </div>
                    </div>
                  </div>


                  <div class="row d-flex flex-nowrap  one">
                      <div class="col-md-6 col-sm-4 col-6 one-1  ">
                      <div class="hover-zoomin">
                      <img src="static\not so rainy_panel1.jpg" class="card-img-top"alt="" />
                      </div>
                      </div>

                        <div class="col-md-6 col-sm-4 col-6 two-2">
                        <div class="hover-zoomin">
                        <img src="static\not so rainy_panel3.jpg" class="card-img-top"alt="" />
                        </div>
                        </div>

                        </div>

                        <div class="row d-flex flex-nowrap  one">
                            <div class="col-md-6 col-sm-4 col-6 one-1  three-3">
                            <div class="hover-zoomin">
                            <img src="static\not so rainy_panel3.jpg" class="card-img-top"alt="" />
                            </div>
                            </div>

                              <div class="col-md-6 col-sm-4 col-6 four-4">
                              <div class="hover-zoomin">
                              <img src="static\not so rainy_panel1.jpg" class="card-img-top"alt="" />
                              </div>
                              </div>
                      </div>


                      <div class="row">
                        <div class="col-md-6">
                          <h3>Click here to learn more</h3>
                          <a href="#" class='btn btn-default see_more'><p class='see_more'>See more</p></a>

                        </div>
                      </div>


    </div>




<div class="desktop-view">

  <a href="#"> <h2>STUDIO PORTFOLIO</h2></a>
  <p class="">Images from the Studio</p>

          <div class="row d-flex flex-nowrap  one">
              <div class="col-lg-4 col-md-6 col-sm-4 col-6 one-1  ">
              <div class="hover-zoomin">
              <img src="static\not so rainy_panel1.jpg" class="card-img-top"alt="" />
              </div>
              </div>

                <div class="col-lg-4 col-md-6 col-sm-4 col-6 two-2">
                <div class="hover-zoomin">
                <img src="static\not so rainy_panel3.jpg" class="card-img-top"alt="" />
                </div>
                </div>


                  <div class="col-lg-4 col-md-6 col-sm-4 col-6 one-1  ">
                  <div class="hover-zoomin">
                  <img src="static\not so rainy_panel1.jpg" class="card-img-top"alt="" />
                  </div>
                  </div>
</div>


<div class="row d-flex flex-nowrap  one">
    <div class="col-lg-4 col-md-6 col-sm-4 col-6 one-1  ">
    <div class="hover-zoomin">
    <img src="static\not so rainy_panel1.jpg" class="card-img-top"alt="" />
    </div>
    </div>

      <div class="col-lg-4 col-md-6 col-sm-4 col-6 two-2">
      <div class="hover-zoomin">
      <img src="static\not so rainy_panel3.jpg" class="card-img-top"alt="" />
      </div>
      </div>


        <div class="col-lg-4 col-md-6 col-sm-4 col-6 one-1  ">
        <div class="hover-zoomin">
        <img src="static\not so rainy_panel1.jpg" class="card-img-top"alt="" />
        </div>
        </div>
</div>



                  <div class="row">
                    <div class="col-lg-4 col-md-6">
                      <h3>Click here to learn more</h3>
                      <a href="#" class='btn btn-default see_more'><p class='see_more'>See more</p></a>

                    </div>
                  </div>
</div>

</div>
