
	<section class="tds-banner">


<div class="container-fluid">
	<div class="overlay">

	<div class="description">

	<div class="row">

				<div class="col-12 col-sm-12 col-md-12">
		<h1>Talking Drum Studios</h1>
	</div>
	</div>

<div class="row">
	<div class="col-10 col-sm-10 col-md-12">
		<h5>We Make Games and We Animate</h5>
	</div>
</div>


<div class="row button">

	<div class="col-5 col-sm-3 col-md-3">
		<a href="http://localhost:8080/ff" class=" btn btn-default shadow mr-2"><p>Games</p></a>

	</div>

	<div class="col-5 col-sm-3 col-md-3">
	<a href="http://localhost:8080/" class="btn btn-default "><p>Studio</p></a>
		</div>


	</div>
</div>
</div>

		</section>


<!--
	<div class="row">

		<div class="col-6">
			<a href="#" class="btn btn-primary shadow mr-2">Games</a>

		</div>
		<div class="col-6">
		<a href="#" class="btn btn-primary shadow mr-2">Studio</a>
			</div>
-->










		<!--
		<div class="row align-items-end">

		<div class="col-12">
			<p>We're interested in taking your Gaming Experience to the maximim</p>
			<div class="col-6">
				<a href="#" class="btn btn-primary shadow mr-2">See More</a>

			</div>
			<div class="col-6">
				<a href="#" class="btn btn-primary shadow mr-2">Contact Us</a>

			</div>
			-->
