
<div class="whatWeDo">

  <div class="container-fluid">

    <div class="row">
      <div class="col-12 paragraph">
        <h1>What We Do</h1>
        </div>

        <div class="row gamax-row">

        <div class="col-6 gamax">
          <h2>GAMAX</h2>
          <p>We make exciting games, you should try them out</p>
          <p><a href="#" class="heroImage btn btn-default shadow mr-2">Discover More</a></p>


        </div>
        <div class="col-6 image-gamax">
          <p><img src="static\gamax_logo.png" alt="white logo" class="img-fluid rounded"></p>

        </div>



<div class="container-fluid">

  <div class=" row d-flex flex-nowrap  studio-row">

    <div class="col-6 order-1 p-2 image-studio">
      <p><img src="static\white_logo.png" alt="white logo"  class="img-fluid rounded float-right"></p>

</div>
          <div class="col-6 order-2 p-1 studio">
            <h2>STUDIO</h2>
            <p>We make love to communicate emotions and experiences through animation</p>
            <p><a href="#" class="heroImage btn btn-default shadow mr-2">Discover More</a></p>
          </div>



</div>


      </div>

      </div>

    </div>

</div>
