<div class="whatWeDo">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 paragraph">
        <h2>What We Do</h2>


        </div>
        <div class="col-md-4 gamax">
          <h3>GAMAX</h3>
          <p>We make exciting games, you should try them out</p>
          <p><a href="#" class="heroImage btn btn-primary shadow mr-2">Discover More</a></p>


        </div>
        <div class="col-md-3 image-gamax">
          <p><img src="static\white_logo_1.png" alt="white logo" class="img-fluid des">
</p>

        </div>


      </div>

    </div>

</div>
